

*{
    margin: 0;
    padding: 0;
}


html{
    height: 100%;
}

body{
    height: 100%;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*对于舞台元素*/
.rect-wrap {
    position: relative;
    perspective: 1000px;
}
/*对于容器*/
.container {
    width: 183px;
    height: 183px;
    transform-style: preserve-3d;
    /*//设置3d空间的原点在平面中心再向Z轴移动200px的位置*/
    transform-origin: 50% 50% 100px;
    -webkit-transform-origin: 50% 50% 100px;
    -moz-transform-origin: 50% 50% 100px;
}
/*立方体的每个面*/
.slide {
    width: 183px;
    height: 183px;
    position: absolute;  //定位
}

/*立方体前面*/
.front {
    /*//立方体前面正对着屏幕，所以不用旋转，只需向Z轴前移动距离*/
    transform: translateZ(183px);
    -webkit-transform: translateZ(183px);
    -moz-transform: translateZ(183px);
}
/*立方体后面*/
.back {
    /*//立方体后面正对着屏幕，所以不用旋转，只需向Z轴后移动距离*/
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}
/*立方体顶面*/
.top {
    transform: rotateX(-90deg);
    transform-origin: bottom;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: bottom;
    -moz-transform: rotateX(-90deg);
    -moz-transform-origin: bottom;
}
/*立方体底面*/
.bottom {
    transform: rotateX(90deg);
    transform-origin: top;
    -webkit-transform: rotateX(90deg);
    -webkit-transform-origin: top;
    -moz-transform: rotateX(90deg);
    -moz-transform-origin: top;
}
/*立方体左面*/
.left {
    transform: rotateY(90deg);
    transform-origin: right;
    -webkit-transform: rotateY(90deg);
    -webkit-transform-origin: right;
    -moz-transform: rotateY(90deg);
    -moz-transform-origin: right;
}
/*立方体右面*/
.right {
    transform: rotateY(-90deg);
    transform-origin: left;
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: left;
    -moz-transform: rotateY(-90deg);
    -moz-transform-origin: left;
}



/*加动画*/
.container{
    animation: rotate-frame 30s linear infinite;
    -webkit-animation: rotate-frame 30s linear infinite;
    -moz-animation: rotate-frame 30s linear infinite;
}


@keyframes rotate-frame {
    0% {
        transform:   rotateX(0deg) rotateY(0deg);
    }
    10% {
        transform:   rotateX(0deg) rotateY(180deg);
    }
    20% {
        transform:   rotateX(-180deg) rotateY(180deg);
    }
    30% {
        transform:   rotateX(-360deg) rotateY(180deg);
    }
    40% {
        transform:   rotateX(-360deg) rotateY(360deg);
    }
    50% {
        transform:   rotateX(-180deg) rotateY(360deg);
    }
    60% {
        transform:  rotateX(90deg) rotateY(180deg);
    }
    70% {
        transform:  rotateX(0) rotateY(180deg);
    }
    80% {
        transform:  rotateX(90deg) rotateY(90deg);
    }
    90% {
        transform:  rotateX(90deg) rotateY(0);
    }
    100% {
        transform:  rotateX(0) rotateY(0);
    }
}
/*适配chrome、safari*/
@-webkit-keyframes rotate-frame {
    0% {
        -webkit-transform:   rotateX(0deg) rotateY(0deg);
    }
    10% {
        -webkit-transform:   rotateX(0deg) rotateY(180deg);
    }
    20% {
        -webkit-transform:   rotateX(-180deg) rotateY(180deg);
    }
    30% {
        -webkit-transform:   rotateX(-360deg) rotateY(180deg);
    }
    40% {
        -webkit-transform:   rotateX(-360deg) rotateY(360deg);
    }
    50% {
        -webkit-transform:   rotateX(-180deg) rotateY(360deg);
    }
    60% {
        -webkit-transform:  rotateX(90deg) rotateY(180deg);
    }
    70% {
        -webkit-transform:  rotateX(0) rotateY(180deg);
    }
    80% {
        -webkit-transform:  rotateX(90deg) rotateY(90deg);
    }
    90% {
        -webkit-transform:  rotateX(90deg) rotateY(0);
    }
    100% {
        -webkit-transform:  rotateX(0) rotateY(0);
    }
}

/*适配火狐*/
@-moz-keyframes rotate-frame {
    0% {
        -moz-transform:   rotateX(0deg) rotateY(0deg);
    }
    10% {
        -moz-transform:   rotateX(0deg) rotateY(180deg);
    }
    20% {
        -moz-transform:   rotateX(-180deg) rotateY(180deg);
    }
    30% {
        -moz-transform:   rotateX(-360deg) rotateY(180deg);
    }
    40% {
        -moz-transform:   rotateX(-360deg) rotateY(360deg);
    }
    50% {
        -moz-transform:   rotateX(-180deg) rotateY(360deg);
    }
    60% {
        -moz-transform:  rotateX(90deg) rotateY(180deg);
    }
    70% {
        -moz-transform:  rotateX(0) rotateY(180deg);
    }
    80% {
        -moz-transform:  rotateX(90deg) rotateY(90deg);
    }
    90% {
        -moz-transform:  rotateX(90deg) rotateY(0);
    }
    100% {
        -moz-transform:  rotateX(0) rotateY(0);
    }
}
/*设置table*/
.rect-wrap .container .top table{
    width: 100%;
    height: 100%;
}


.rect-wrap .container  table div{
    font-size: 30px;
    color: white;
    line-height: 60px;
    text-align: center;
}

/*设置table元素    顶部*/
.rect-wrap .container .top table tr td div{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #194aab;
    overflow: hidden;
}

/*设置table元素    底部*/
.rect-wrap .container .bottom table tr td div{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #ffff33;
    overflow: hidden;
}

/*设置table元素    左边*/
.rect-wrap .container .left table tr td div{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #8a2be2;
    overflow: hidden;
}

/*设置table元素    右边*/
.rect-wrap .container .right table tr td div{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #ff4500;
    overflow: hidden;
}

/*设置table元素    前面*/
.rect-wrap .container .front table tr td div{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #228b22;
    overflow: hidden;
}

/*设置table元素    后面*/
.rect-wrap .container .back table tr td div{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #1e90ff;
    overflow: hidden;
}