*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f1f1;
    min-width: 1000px;
    min-height: 800px;
}
a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    border: 0 none;
}


.arrow-icon{
    width: 8px;
    height: 8px;
    margin: 3px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    display: inline-block;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform-origin: 4px 4px;
}

.wrapper{
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/****************************************header布局****************************************/
.header img,
.header ul,
.header nav,
.header div,
.header span,
.header a,
.header i,
.header h3 {
    white-space: nowrap;
    text-decoration: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: Verdana,"Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
}


.header {
    padding: 0;
    margin: 0;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ececec;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.header .w-1000 {
    height: 60px;
    width: 1000px;
    line-height: 60px;
    background-color: #fff;
    margin: 0 auto;
}


.header .w-1000 .logo {
    width: 109px;
    display: inline-block;
    margin-right: 60px;
    height: 60px;
    float: left;
}

.header .w-1000 .logo img {
    float: left;
    width: 109px;
    margin-top: 10px;
    border:0 none;
}

.header .w-1000 nav {
    height: 60px;
    display: inline-block;
    float: left;
}

.header .w-1000 nav a {
    color: #333;
}

#header .w-1000 nav a:hover {
    color: #35b558;
}

.header .w-1000  nav li {
    position: relative;
    font-size: 14px;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
    height: 60px;
    float: left;
}

.header nav li i {
    margin-left: 5px;
}

.header nav li .arrow-icon {
    margin-bottom: 4px;
}

.header nav li:hover {
    color: #35b558;
    cursor: pointer;
}

.header nav li:hover i.arrow-icon {
    margin-bottom: -2px;
    border-top: 1px solid #35b558;
    border-left: 1px solid #35b558;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    animation: rotate 1s ease normal;
    -moz-animation: rotate 1s ease normal;
    -webkit-animation: rotate 1s ease normal;
}

@keyframes rotate {
    0% {
        margin-bottom: 4px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
    }
    10% {
        margin-bottom: -2px;
    }
    100% {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
}
.header nav .submenu {
    display: none;
    opacity:0;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 0;
    background: #fff;
    font-size: 12px;
    color: #666;
    width: 280px;
}

.header nav li:hover .submenu {
    display: block;
    opacity: 1;
    animation: myfirst 0.5s ease alternate;
    -moz-animation: myfirst 0.5s ease alternate;
    -webkit-animation: myfirst 0.5s ease alternate;
}

@keyframes myfirst {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes myfirst
    /* Firefox */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes myfirst
    /* Safari and Chrome */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes myfirst
    /* Opera */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header nav li:last-child {
    margin-right: 0;
}



.header nav .submenu h3 {
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}

.header nav .submenu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    white-space:normal;
}

.header nav .submenu a:last-child {
    padding-bottom: 10px;
}

.header nav .school-list a:hover {
    color:#35b558 ;
}

.header nav .vip-lesson {
    padding: 10px 0;
}

.header nav .vip-lesson a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #666;
}

.header nav .vip-lesson a span {
    color: #bbb;
    float: right;
}

.header nav .vip-lesson a:hover {
    display: block;
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    color: #35b558;
}

/*设置下拉框图标*/
/* 职业学院iocn*/
.school-list i.python-icon,
.school-list i.go-icon,
.school-list i.ios-icon,
.school-list i.wechat-icon {
    background: url("../images/allicon4.png") 0 0 no-repeat ;
    background-position: 0 0;
    background-size: 16px 148px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px!important;
}

.school-list i.python-icon {
    background-position: -2px -2px;
}

.school-list i.go-icon {
    background-position: -2px -38px;
}

.school-list i.ios-icon {
    background-position: -2px -82px;
}

.school-list i.wechat-icon {
    background-position: -2px -60px;
}

.school-list i.web-icon,
.school-list i.android-icon,
.vip-lesson i{
    background: url("../images/allicon.png") 0 0 no-repeat;
    background-size: 64px 64px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px!important;
}

.school-list i.web-icon{
    background-position: -15px -27px;
}
.school-list i.android-icon{
    background-position: -45px -14px;
}
.vip-lesson i.kck-icon{
    background-position: 0 -13px;
}
.vip-lesson i.zyljt-icon{
    background-position: -45px 0;
}
.vip-lesson i.zstxt-icon{
    background-position: -30px -13px;
}
.vip-lesson i.xlkc-icon{
    background: url("../images/xlkc2.png") 0 0 no-repeat;
    background-position: 0 0;
    background-size: 12px 12px;
}
.vip-lesson i.kcbq-icon{
    background-position: -15px -13px;
 }
.vip-lesson i.vip-icon{
    background-position: -16px 0;
}
.vip-lesson i.jswd-icon{
    background-position: 0 -27px;
 }
.vip-lesson i.wiki-icon{
    background-position: -29px -27px;
}
.vip-lesson i.sq-icon{
    background-position: 0 2px;
}
.vip-lesson i.zygx-icon{
    background-position: -30px 0;
}

/*右边的搜索 注册登录*/
.header .icon-box {
    float: right;
    text-align: right;
    width: 200px;
    margin-right: 10px;
    height: 60px;
    /*background-color: #3c7cdf;*/
}

.header .icon-box span {
    height: 60px;
    width: 17px;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}

/*二维码*/
.header .icon-box i.top-icon{
    display: inline-block;
    background-color: #fff;
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}


.header .icon-box .app-icon {
    background: url("../images/app-icon.png") 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;

}

.header .icon-box .app-icon:hover {
    background: url("../images/app-icon2.png") 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;

}

/*二维码 正常状态*/
.header .icon-box .app-icon .submenu {
    display: none;
    opacity: 0;
    width: 150px;
    height: 210px;
    padding: 0;
    position: relative;
    top: 59px;
    left: -75px;
}

.header .icon-box .app-icon .submenu img {
    width: 100%;
}

.header .icon-box .app-icon .submenu .top-icon {
    position: absolute;
    top: -8px;
    right: 60px;
}

/*显示*/
.header .icon-box .app-icon:hover .submenu{
    display: block;
    opacity: 1;
}

/*设置登录按钮相关*/
.header .icon-box .login-icon {
    background: url("../images/login-icon.png") 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;
}


.header .icon-box .login-icon .submenu{
    display: none;
    opacity: 0;
    padding: 10px 0;
    background: #fff;
    position: relative;
    width: 120px;
    line-height: 30px;
    z-index: 1200;
    top: 59px;
    left: -100px;
    text-align: center;
}

.header #loginlist a{
    display: block;
    padding: 0 10px;
    text-align: left;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    color: #666;
}

.header #loginlist .reg-btn{
    position: absolute;
    top: 10px;
    left: 10px;
}

.header #loginlist .login-btn{
    position: absolute;
    top: 10px;
    right: 10px;
}


.header #loginlist a:hover {
    height: 35px;
    line-height: 35px;
    background: #f5f5f5;
    color: #35b558;
}

.header #loginlist i.top-icon{
    position: absolute;
    top: -8px;
    right: 8px;
}

.header .login-icon:hover .submenu{
    display: block;
    opacity: 1;
}

.header .loginlist dd i,
.uservip-icon {
    background: url("../images/allicon2.png") 0 0 no-repeat;
    background-size: 64px 64px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    display: inline-block;
}

.uservip-icon {
    background: url("../images/allicon2.png") 0 0 no-repeat;
    background-size: 64px 64px;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    top: 28px;
    left: 15px;
}

.header .rz-icon {
    background-position: -1px -47px;
}

.header .year-icon {
    background-position: -1px -32px;
}

.header .month-icon {
    background-position: -1px -16px
}

.header .ty-icon {
    background-position: -1px -1px
}

.header .xf-icon {
    background-position: -16px -47px
}

.header .loginlist .xxzx-icon {
    background-position: -16px -15px
}

.header .loginlist .grzy-icon {
    background-position: -45px -1px
}

.header .loginlist .xxtz-icon {
    background-position: -16px -30px
}

.header .loginlist .zhsz-icon {
    background-position: -30px -1px
}

.header .loginlist .tc-icon {
    background-position: -16px -1px
}







.web_search_header {
    border: none;
    outline: none;
}

.header .search-icon {
    background: url("../images/search-icon.png") 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    height: 17px;
    width: 17px;
    display: inline-block;
}

.header .search-icon:hover {
    background: url("../images/search-icon2.png") 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
}

/*暂未实现*/
.header .searchbox {
    display: none;
    transform: scale(0.1, 1);
    -moz-transform: scale(0.1, 1);
    opacity: 0;
    height: 59px;
    line-height: 59px;
    width: 850px;
    background: #fff;
    position: absolute;
    z-index: 11000;
    top: 0;
    right: 0;
    white-space: normal;
}

.header .searchbox input {
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
}

.header .searchbox .tagbox {
    width: 300px;
    text-align: right;
    display: inline;
    margin-right: 50px;
    float: right;
}

.header .searchbox .tagbox a {
    font-size: 12px;
    color: #808080;
    background: #f5f5f5;
    padding: 3px 5px;
    margin-left: 10px;
}

.header .searchbox .close-icon {
    width: 15px;
    height: 15px;
    margin-top: 22px;
    cursor: pointer;
    background: url("../images/close-icon.png") 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    z-index: 1200;
}
/*暂未实现*/

/****************************************下面是主体部分 page****************************************/

.wrapper .pager{
    width:1000px;
    margin: 0 auto;
    height: 300px;
    /*background-color: #1b6d85;*/
}

.wrapper .pager .w-1000{
    width: 1000px;
    margin-top: 80px;
    /*background-color: #1abc9c;*/
}

.pager .jk-banner .banner-container{
    width: 750px;
    height: 330px;
    background: url("../images/58573b737d2db.jpg");
    float: left;
}

/****************************************用户登录注册****************************************/
.pager .jk-login{
    width: 240px;
    height: 160px;
    float: right;
    background-color: #fff;
}

.pager .jk-login .userInfo{
    width: 180px;
    height: 57px;
    margin: 20px 30px;
    background-color: #fff;
}

.pager .jk-login .userInfo .userImg{
    float: left;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-right: 15px;
}

.pager .jk-login .userInfo .userName{
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    margin-top: 10px;
    height: 16px;
    width: 108px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pager .jk-login .userInfo .userStatus{
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 10px;
    /*background-color: #1abc9c;*/
}

.pager .jk-login .userInfo-btn{
    font-size: 14px;
    display: inline-block;
    width: 85px;
    height: 32px;
    border: 1px solid #35b558;
    border-radius: 2px;
    color: #35b558;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
    text-decoration: none;

}

.pager .jk-login .userInfo-btn:hover{
    color: #fff;
    background-color:#35b558;
}


.pager .jk-login .diaLoginBtn{
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

.pager .jk-login .registerNow{
    float: right;
    margin-right: 30px;
    margin-bottom: 20px;
}

/****************************************活动海报****************************************/
.pager .jk-huodong .huodong-container{
    width: 240px;
    height: 150px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}


/****************************************线下就业班****************************************/
.pager .jk-jiuye{
    float: left;
    width: 1000px;
    height: 200px;
    margin-top: 40px;
    /*position: relative;*/
    /*padding-right: 240px;*/
    box-sizing: border-box;
    /*background-color: #1b6d85;*/
}

h1, h2, h3, h4, h5, h6, input, select, textarea{
    font-size: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.pager .jk-jiuye h2{
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
    width: 400px;
}

.pager .jk-jiuye .jk-ban{
    display: block;
    float: left;
    font-size: 0;
    width: 370px;
    height: 75px;
    background: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 120px;
    line-height: 75px;
    -webkit-transition: box-shadow .2s linear;
    -moz-transition: box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
    box-sizing: border-box;
}

.pager .jk-jiuye a:hover{
    box-shadow: 1px 4px 8px rgba(0,0,0,.4);
}

.pager .jk-jiuye .jk-ban p{
    width: 250px;
    height: 75px;
    color: #fff;
    font-size: 15px;
    line-height: 75px;
    text-align: center;
}

.pager .jk-jiuye .BAIDU_AD_JIUYE{
    display: block;
    height: 160px;
    width: 240px;
    float: left;
    position: relative;
    right: 0;
    top: -85px;

    -webkit-transition: box-shadow .2s linear;
    -moz-transition: box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
}

/*设置就业班背景文字和图片*/
.pager .jk-jiuye .web{
    background: url("../images/jiuye-web03_b78e3f6.png");
}
.pager .jk-jiuye .php{
    background: url("../images/jiuye-php03_8cdf521.png");
}
.pager .jk-jiuye .javaweb{
    background: url("../images/jiuye-java03_302dbd8.png");
}
.pager .jk-jiuye .ui{
    background: url("../images/jiuye-ux03_45d7813.png");
}


/***************************************精品课程部分****************************************/

.pager .jk-sku{
    float: left;
    width: 1000px;
    height: 310px;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
    margin-bottom: 40px;
    /*background-color: #1b6d85;*/
}
.pager .jk-sku h2{
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.pager .jk-sku li{
    display: block;
    list-style: none;
    float: left;
    width: 233px;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #e9e9e9;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    overflow: hidden;
}

.pager .jk-sku li:hover{
    box-shadow: 1px 4px 8px rgba(0,0,0,.4);
}

.pager .jk-sku ul li:last-child{
    margin-right: 0;
}

.pager .jk-sku a{
    display: block;
    width: 233px;
    height: 268px;
}

.pager .jk-sku li img{
    width:100%;
    display: block;
    height: 155px;
    margin: 0;
    padding: 0;
}
.pager .jk-sku .skuContainer{
    padding: 14px;
    height: 113px;
    position: relative;
    background: #fff;
}

.pager .jk-sku .skuContainer .skuTitle{
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 18px;
    height: 36px;
}

.pager .jk-sku .skuContainer .skuInfo{
    margin-top: 6px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}

.pager .jk-sku .skuContainer .skuPrice{
    float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}

.pager .jk-sku .skuContainer .skuThrought{
    float: left;
    font-size: 12px;
    color: #999;
    margin-top: 14px;
    text-decoration: line-through;
    vertical-align: bottom;
}

.pager .jk-sku .skuContainer .skuNum{
    display: inline-block;
    height: 14px;
    position: absolute;
    bottom: 42px;
    right: 14px;
    color: #999;
    font-size: 12px;
}

/***************************************线下培训专区****************************************/
.pager .jk-offline{
    width: 1000px;
    height: 616px;
    float: left;
    margin-bottom: 40px;
}
.pager .jk-offline h2{
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.jk-offline li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;

}

.pager .jk-offline .cf li{
    display: block;
    list-style: none;
}

.pager .jk-offline .daniu li:nth-child(3){
    float: left;
    background: url("../images/daniu-bg2_5bb23e1.png") center center no-repeat;
    background-size: 480px 278px;
}

.pager .jk-offline .daniu li:nth-child(3):hover{
    border: 0;
    box-shadow: 0 0 0!important;
}


.pager .jk-offline .daniu li:nth-child(1),
.pager .jk-offline .daniu li:nth-child(5){
    background: #3390f3;
    width: 261px;
    height: 139px;
    display: inline-block;
    float: right;
    transition: all .8s!important;
    -moz-transition: all .8s!important;
    -webkit-transition: all .8s!important;
    -o-transition: all .8s!important;
}

.pager .jk-offline .daniu li:nth-child(1):hover,
.pager .jk-offline .daniu li:nth-child(5):hover{
    background: #0569d3;
    border: 0;
    box-shadow: 0 0 0!important;
}

.pager .jk-offline .daniu li:nth-child(2),
.pager .jk-offline .daniu li:nth-child(4){
    background: #0276f1;;
    width: 261px;
    height: 139px;
    display: inline-block;
    float: right;
    transition: all .8s!important;
    -moz-transition: all .8s!important;
    -webkit-transition: all .8s!important;
    -o-transition: all .8s!important;
}

.pager .jk-offline .daniu li:nth-child(2):hover,
.pager .jk-offline .daniu li:nth-child(4):hover{
    background: #0569d3;
    border: 0;
    box-shadow: 0 0 0!important;
}


.pager .jk-offline .mogui li:nth-child(1) i,
.pager .jk-offline .mogui li:nth-child(2) i,
.pager .jk-offline .mogui li:nth-child(4) i,
.pager .jk-offline .mogui li:nth-child(5) i,
.pager .jk-offline .daniu li:nth-child(1) i,
.pager .jk-offline .daniu li:nth-child(2) i,
.pager .jk-offline .daniu li:nth-child(4) i,
.pager .jk-offline .daniu li:nth-child(5) i{
    float: right;
    transition: all .8s!important;
    -moz-transition: all .8s!important;
    -webkit-transition: all .8s!important;
    -o-transition: all .8s!important;
}

.pager .jk-offline .mogui li:nth-child(3) a,
.pager .jk-offline .daniu li:nth-child(3) a{
    display: block;
    width: 478px;
    height: 278px;
    position: relative;
    color: #fff;
    font-size: 14px;
    text-align: center;


}

.pager .jk-offline .daniu li:nth-child(3) a i{
    display: inline-block;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 478px;
    height: 278px;
    background: #fff;
    opacity: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
}

.pager .jk-offline .daniu li:nth-child(3) a .ban {
    position: absolute;
    left: 0;
    top: 0;
    background-image: -webkit-linear-gradient(-90deg,#000 0,rgba(216,216,216,0) 100%);
    background-image: -o-linear-gradient(-90deg,#000 0,rgba(216,216,216,0) 100%);
    background-image: -moz-linear-gradient(-90deg,#000 0,rgba(216,216,216,0) 100%);
    background-image: linear-gradient(-90deg,#000 0,rgba(216,216,216,0) 100%);
    padding: 5px 10px;
}

.pager .jk-offline li:nth-child(3) a span{
    display: block;
    height: 50px;
}

.pager .jk-offline li:nth-child(3) a .top-title {
    font-size: 37px;
    margin-bottom: 10px;
}
.pager .jk-offline li:nth-child(3) a .title {
    font-size: 40px;
    margin-bottom: 12px;
    font-weight: 500;
}
.pager .jk-offline li:nth-child(3) a .bot-title {
    font-size: 26px;
}

.pager .jk-offline .daniu li:nth-child(2) a span {
    display: block;
    width: 31px;
    height: 28px;
    margin: 30px auto;
    background: url("../images/daniu-06_5b9a64a.png") center center no-repeat;
    background-size: cover;
}

.pager .jk-offline .daniu li:nth-child(1) a span {
    display: block;
    width: 31px;
    height: 28px;
    margin: 30px auto;
    background: url("../images/daniu-05_b18767c.png") center center no-repeat;
    background-size: cover;
}
.pager .jk-offline .daniu li:nth-child(5) a span {
    display: block;
    width: 31px;
    height: 28px;
    margin: 30px auto;
    background: url("../images/daniu-08_a15e689.png") center center no-repeat;
    background-size: cover;
}
.pager .jk-offline .daniu li:nth-child(4) a span {
    display: block;
    width: 31px;
    height: 28px;
    margin: 30px auto;
    background: url("../images/daniu-07_e81e2d7.png") center center no-repeat;
    background-size: cover;
}

/*魔鬼训练班*/
.pager .jk-offline  .mogui{
    margin-top: 20px;
    display: block;
    float: left;
}

.pager .jk-offline .mogui li:nth-child(3){
    float: left;
    background: url("../images/mogui-bg_ee9827b.png") center center no-repeat;
    background-size: 480px 278px;
}

.pager .jk-offline .mogui li:nth-child(3) a .ban {
    position: absolute;
    left: 0;
    top: 0;
    background-image: -webkit-linear-gradient(-90deg,#000 0,rgba(216,216,216,0) 100%);
    background-image: -o-linear-gradient(-90deg,#000 0,rgba(216,216,216,0) 100%);
    background-image: -moz-linear-gradient(-90deg,#000 0,rgba(216,216,216,0) 100%);
    background-image: linear-gradient(-90deg,#000 0,rgba(216,216,216,0) 100%);
    padding: 5px 10px;
}

.pager .jk-offline .mogui li:nth-child(1),
.pager .jk-offline .mogui li:nth-child(5){
    background: #F64450;
    width: 261px;
    height: 139px;
    display: inline-block;
    float: right;
    transition: all .8s!important;
    -moz-transition: all .8s!important;
    -webkit-transition: all .8s!important;
    -o-transition: all .8s!important;
}

.pager .jk-offline .mogui li:nth-child(1):hover,
.pager .jk-offline .mogui li:nth-child(5):hover{
    box-shadow: 0 2px 6px #ccc;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

.pager .jk-offline .mogui li:nth-child(2),
.pager .jk-offline .mogui li:nth-child(4){
    background: #EB313E;;
    width: 261px;
    height: 139px;
    display: inline-block;
    float: right;
    transition: all .8s!important;
    -moz-transition: all .8s!important;
    -webkit-transition: all .8s!important;
    -o-transition: all .8s!important;
}

.pager .jk-offline .mogui li:nth-child(2):hover,
.pager .jk-offline .mogui li:nth-child(4):hover{
    box-shadow: 0 2px 6px #ccc;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

.pager .jk-offline .mogui li:nth-child(2) a span {
    display: block;
    width: 31px;
    height: 28px;
    margin: 30px auto;
    background: url("../images/mogui-01_08e776e.png") center center no-repeat;
    background-size: cover;
}

.pager .jk-offline .mogui li:nth-child(1) a span {
    display: block;
    width: 31px;
    height: 28px;
    margin: 30px auto;
    background: url("../images/mogui-02_5e33480.png") center center no-repeat;
    background-size: cover;
}
.pager .jk-offline .mogui li:nth-child(5) a span {
    display: block;
    width: 31px;
    height: 28px;
    margin: 30px auto;
    background: url("../images/mogui-03_e9f2b48.png") center center no-repeat;
    background-size: cover;
}
.pager .jk-offline .mogui li:nth-child(4) a span {
    display: block;
    width: 31px;
    height: 28px;
    margin: 30px auto;
    background: url("../images/mogui-04_ce7d6bc.png") center center no-repeat;
    background-size: cover;
}
/***************************************职业学院****************************************/
.pager .jk-college{
    width: 1000px;
    height: 310px;
    float: left;
    /*background-color: #2b542c;*/
    position: relative;
    margin-bottom: 40px;
}
.pager .jk-college h2{
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.pager .jk-college ul{
    display: block;
    margin-top: 20px;
}

.pager .jk-college li{
    list-style: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    overflow: hidden;
}



.pager .jk-college .web{
    width: 500px;
    height: 270px;
}

.pager .jk-college ul li a{
    display: block;
    margin: 0;
    padding: 0;
}

.pager .jk-college .web img{
    width: 500px;
    height: 270px;
}

.jk-college ul .web span {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 0;
    width: 500px;
    height: 100px;
    padding-top: 180px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: url("../images/cweb_2d70d0b.png") no-repeat center 70px;
    background-size: 55px 84px;
}

.pager .jk-college .python,
.pager .jk-college .go,
.pager .jk-college .ios,
.pager .jk-college .more{
    width: 240px;
    height: 130px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}



.pager .jk-college .python a img,
.pager .jk-college .go a img,
.pager .jk-college .ios a img,
.pager .jk-college .more a img{
    width: 240px;
    height: 130px;
}

.pager .jk-college .python span{
    background: url("../images/cpython_5ed9df4.png") no-repeat center 31px;
    background-size: 36px 36px;
}

.pager .jk-college .go span{
    background: url("../images/cgo_e66208d.png") no-repeat center 31px;
    background-size: 36px 29px;
}

.pager .jk-college .ios span{
    background: url("../images/cios_dc0ca8e.png") no-repeat center 31px;
    background-size: 32px 36px;
}

.pager .jk-college .more span{
    background: url("../images/cwechat_624099d.png") no-repeat center 31px;
    background-size: 40px 33px;
}

.pager .jk-college .python span,
.pager .jk-college .go span,
.pager .jk-college .ios span,
.pager .jk-college .more span{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px;
}

.pager .jk-college li:hover {
    box-shadow: 1px 4px 8px rgba(0,0,0,.4);
}

/***************************************会员课程****************************************/
.pager .jk-vip{
    float: left;
    width: 1000px;
    margin: 0 auto;
    height: 420px;
    margin-bottom: 40px;
    box-sizing: border-box;
    /*background-color: #2b542c;*/
}

.pager .jk-vip h2{
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.pager .jk-vip ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.pager .jk-vip li{
    list-style: none;
    /*float: left;*/
    width: 156px;
    height: 148px;
    border: 1px solid #e9e9e9;
    background: #fff;
    margin-bottom: 10px;
    /*margin-right: 10px;*/
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}



.pager .jk-vip li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.jk-vip ul li a img {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-top: 25px;
    vertical-align: middle;
}

.jk-vip ul li a p {
    font-size: 12px;
    color: #555;
    height: 22px;
    line-height: 22px;
}
.jk-vip ul li a span {
    display: block;
    font-size: 12px;
    color: #35b558;
    height: 22px;
    line-height: 22px;
}

.jk-vip ul li:hover{
    box-shadow: 1px 4px 8px rgba(0,0,0,.4);
}

.jk-vip .vipAll {
    display: inline-block;
    margin-top: 36px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    width: 120px;
    font-size: 14px;
    color: #35b558;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -60px;
    transition: background .8s , color .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
}

.jk-vip .vipAll:hover {
    background: #35b558;
    color: #fff;
}

/***************************************学员故事****************************************/
.pager .jk-story{
    float: left;
    width: 1000px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 40px;
    box-sizing: border-box;
    /*background-color: #2b542c;*/
}

.pager .jk-story h2{
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}


.jk-story ul li {
    list-style:none;
    float: left;
    width: 320px;
    height: 200px;
    position: relative;
    /*margin-right: 20px;*/
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    /*background-color: #1abc9c;*/
}


.jk-story ul li:nth-child(1),
.jk-story ul li:nth-child(2){
    margin-right: 20px;
}

.jk-story ul .story-content {
    width: 100%;
    height: 121px;
    border: 1px solid #e9e9e9;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.jk-story ul .story-content:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 12px solid #e9e9e9;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -12px;
    left: 46px;
}

.jk-story ul .story-content:hover{
    box-shadow: 1px 4px 8px rgba(0,0,0,.4);
}

.jk-story ul .story-content p {
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 20px;
    padding: 20px 25px;
    text-align: left;
}

.jk-story ul .story-content p:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url("../images/storyicon_4a5e270.png") no-repeat center;
    background-size: 14px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.jk-story ul .story-content p:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url(../images/storyicon_4a5e270.png) no-repeat center;
    background-size: 14px 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}


.jk-story ul .story-info {
    height: 80px;
    padding-left: 95px;
    padding-top: 28px;
    position: relative;
}

.jk-story ul .story-info img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e9e9e9;
}

.jk-story ul .story-info p {
    font-size: 12px;
    color: #555;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-align: left;
}

.jk-story ul .story-info span {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #999;
    font-size: 12px;
    text-align: left;
}

/***************************************合作企业****************************************/
.pager .jk-partner{
    float: left;
    width: 1000px;
    margin: 0 auto;
    height: 300px;
    /*margin-bottom: 40px;*/
    box-sizing: border-box;
    /*background-color: #2b542c;*/
}

.pager .jk-partner h2{
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.jk-partner ul li{
    display: block;
    list-style: none;
    float: left;
    width: 148px;
    height: 48px;
    border: 1px solid #e9e9e9;
    background: #fff;
    /*margin-right: 20px;*/
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

.jk-partner ul li:nth-child(1) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_microsoft_82f9a9a.png) no-repeat center;
}

.jk-partner ul li:nth-child(2) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_tuling_3ec6ea2.png) no-repeat center;
}

.jk-partner ul li:nth-child(3) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_qualcomm_362a472.png) no-repeat center;
}
.jk-partner ul li:nth-child(4) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_xunfei_d1cd670.png) no-repeat center;
}
.jk-partner ul li:nth-child(5) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_cloudstack_6ecabb3.png) no-repeat center;
}
.jk-partner ul li:nth-child(6) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_cocos_2a0a8f3.png) no-repeat center;

}
.jk-partner ul li:nth-child(7) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_amd_f9f0c7f.png) no-repeat center;
    margin-right: 20px;
}
.jk-partner ul li:nth-child(8) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_bootstrap_d0a74f3.png) no-repeat center;
}
.jk-partner ul li:nth-child(9) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_juhe_25bbedf.png) no-repeat center;
}
.jk-partner ul li:nth-child(10) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_tencent_47175aa.png) no-repeat center;
}
.jk-partner ul li:nth-child(11) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_tingyun_c2752df.png) no-repeat center;
}
.jk-partner ul li:nth-child(12) a {
    display: block;
    width: 148px;
    height: 48px;
    background: url(../images/p_qcloud_ab76cc7.png) no-repeat center;
}

/*设置位置 和偏移量  怎样快捷设置*/
.jk-partner ul li:nth-child(1),
.jk-partner ul li:nth-child(2),
.jk-partner ul li:nth-child(3),
.jk-partner ul li:nth-child(4),
.jk-partner ul li:nth-child(5),
.jk-partner ul li:nth-child(7),
.jk-partner ul li:nth-child(8),
.jk-partner ul li:nth-child(9),
.jk-partner ul li:nth-child(10),
.jk-partner ul li:nth-child(11){
    margin-right: 20px;
}

.jk-partner ul li:nth-child(7),
.jk-partner ul li:nth-child(8),
.jk-partner ul li:nth-child(9),
.jk-partner ul li:nth-child(10),
.jk-partner ul li:nth-child(11),
.jk-partner ul li:nth-child(12){
    margin-top: 20px;
}


.jk-partner .more-partner {
    display: inline-block;
    margin-top: 36px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    width: 120px;
    font-size: 14px;
    color: #35b558;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -60px;
    transition: background .8s , color .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
}

.jk-partner .more-partner:hover {
    background: #35b558;
    color: #fff;
}



.jk-partner li:hover {
    box-shadow: 1px 4px 8px rgba(0,0,0,.4);
}

/***************************************以下是footer部分****************************************/
.footer{
    width: 100%;
    height: 300px;
    /*border-top: 1px solid #e4e4e4;*/
    background: #fff;
    float: left;
    overflow: hidden;
}




.footer .jkinfor-block{
    width: 1000px;
    height: 215px;
    padding: 0;
    margin: 0 auto;
    /*border-top: 1px solid #e4e4e4;*/
    /*background: #fff;*/
    /*float: left;*/
    /*background-color: lavender;*/
}



.footer .jkinfor-block .jkinfor{
    position: relative;
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 224px;
    padding-top: 25px;
    box-sizing: border-box;
}

.footer .jkinfor-block .jkinfor .jk-logo {
    position: absolute;
    left: 0;
    top: 25px;
    display: inline-block;
    width: 160px;
}

.footer .jkinfor-block .jkinfor .jk-logo  img{
    width: 109px;
    height: 40px;
}

.footer .jkinfor-block .jkinfor .jk-logo p {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

.footer .jkinfor dl {
    width: 135px;
    color: #808080;
    float: left;
}
.footer .jkinfor dl dt {
    font-size: 14px;
    line-height: 30px;
}

.footer .jkinfor dl dd {
    font-size: 12px;
    line-height: 30px;
}

.footer .jkinfor dl dd a {
    color: #999999;
}

.footer .jkinfor a:hover {
    color: #35b558;
}

.footer .jk-down .hot-tel {
    color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}

.footer .jk-down .downCon {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
    box-sizing: border-box;
}

.footer .jk-down .down-ios {
    background: url(../images/icon-down-ios.png)no-repeat 0 0;
    background-size: 30px 30px;
}

.footer .jk-down .down-and {
    background: url(../images/icon-down-and.png)no-repeat 0 0;
    background-size: 30px 30px;
}

.footer .jk-down .downCon img {
    width: 115px;
    height: 153px;
    position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
    display: none;
    vertical-align: middle;
}

.footer .jk-down .downCon:hover img {
    display: block;
}

.footer .copyright {
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    height: 83px;
    text-align: center;
    padding: 15px 0;
    /*background-color: #1abc9c;*/

}

.footer .copyright strong {
    font-weight: 400;
}

.footer .copyright a {
    color: #999;
}
.footer .copyright a:hover {
    color: #35B558;
}


.footer .copyright a.down-sina {
    float: right;
    height: 15px;
    width: 20px;
    margin-right: 10px;
    background: url(../images/icon-down-sina.png)no-repeat 0 0;
    background-size: 20px 15px;
}

.footer .copyright a.down-wechat {
    float: right;
    height: 15px;
    width: 20px;
    background: url(../images/icon-down-wechat.png)no-repeat 0 0;
    background-size: 18px 15px;
}